body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    height: 100%;
  }
  
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #datetime {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  #result, #ip-address, #user-location {
    font-size: 1.25rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 2.5rem;
  }
  
  .mt-3 {
    margin-top: 1.5rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  